{% load staticfiles %}
.panel-heading .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
    content: "\e114";    /* adjust as needed, taken from bootstrap.css */
    float: right;        /* adjust as needed */
    color: grey;         /* adjust as needed */
}
.panel-heading .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\e079";    /* adjust as needed, taken from bootstrap.css */
}
.btn-bar .btn {
	margin-bottom: 0.5em;
}
.search_result {
	margin-top: 0;
}
.sb-page-header {
	background: #2f2f2f url("{% static 'series/headerbg_bl.jpg' %}") no-repeat scroll left bottom;
	color: #FFFFFF;
	margin-bottom: 1em;
}
.footer {
	background-color: #f5f5f5;
	border-top: 1px solid #e5e5e5;
}
.label-spaced {
    margin-right:  0.3em;
    margin-bottom: 0.5em !important;
	display: inline-block;
}
.carousel, .carousel .item {
	height: 35em;
}
#id_models {
	list-style-type: none;
}
#id_models>li {
	float: left;
	display: inline-block;
	margin-right: 2em;
}
#id_honeypot {
    display: none;
}
/*
#slogan {
	position: absolute;
	margin: 2em;
	bottom: 0;
	right: 0;
}*/
#logo {
	height: 3em;
}

span.label>a {
	color: white;
}


.commentcrumb {
  list-style: none;
  padding: 0;
  margin: 0;
  display:inline;
}
.commentcrumb > li {
  display: inline-block;
}
.commentcrumb > li + li:before {
  padding: 0 5px;
  color: #ccc;
  content: "/\00a0";
}
.commentcrumb > .active {
  color: #777;
}

