.sb-page-header {
	background: #2f2f2f url("https://www.fsr.uni-jena.de/templates/redevoaphelion/images/headerbg_bl.jpg") no-repeat scroll left bottom;
	color: #FFFFFF;
	margin-bottom: 1em;
}
.footer {
	background-color: #f5f5f5;
	border-top: 1px solid #e5e5e5;
}
.label-spaced {
    margin-right:  0.3em;
    margin-bottom: 0.5em !important;
	display: inline-block;
}
.carousel, .carousel .item {
	height: 35em;
}
#id_models {
	list-style-type: none;
}
#id_models>li {
	float: left;
	display: inline-block;
	margin-right: 2em;
}
#id_honeypot {
    display: none;
}
/*
#slogan {
	position: absolute;
	margin: 2em;
	bottom: 0;
	right: 0;
}*/
#logo {
	height: 3em;
}

span.label>a {
	color: white;
}


/*body {
	background-color: #8b1c07;
}
#content {
	background-color: #fff;
	border-radius: 4px;
	padding: 1.5em 0.5em 1.5em 0.5em;
}*/



/** { padding: 0; margin: 0; }

h1 { font-size: 150%; }
h2 { font-size: 130%; }
h3 { font-size: 115%; }

a {
	outline: none;
}

a:link,  a:visited { color: #0d0dc2; }
a:hover, a:focus     { color: #4040c4; }

.skiplink {
	position: absolute;
	top: -200em;
	left: -300em;
	width: 0;
	height: 0;
	overflow: hidden;
	display: inline;
}
.clearing {
	clear: both;
}
*/

/*
#wrapper {
	color: #000000;
	width: 70%;
	min-width: 50em;
	max-width: 110em;
	margin-top: 1em;
	margin-right: auto;
	margin-bottom: 5em;
	margin-left: auto;
}

#header {
	border-radius: 3em 3em 0 0;
	background: #2f2f2f url("https://www.fsr.uni-jena.de/templates/redevoaphelion/images/headerbg_bl.jpg") no-repeat scroll left bottom;
	padding: 2em;
	color: #FFFFFF;
	position: relative;
}
#slogan {
	position: absolute;
	margin: 2em;
	bottom: 0;
	right: 0;
}
#logo {
	height: 3em;
	float: left;
}
#navigation {
	font-size: 1.3em;
	background-color: red;
	width: 100%;
}
#shortcuts {
	float: left;
}

#shortcuts ul {
	list-style-type: none;
	overflow: hidden;
}
#shortcuts ul li {
	float: left;
}
#shortcuts ul li a, #shortcuts ul li a:link, #shortcuts ul li a:visited {
	display: block;
	width: auto;
	padding: 0.5em 1em;
	background-color: grey;
	border: 1px solid #FFFFFF;
	color: #FFFFFF;
	text-decoration: none;
}
#shortcuts ul li a:hover, #shortcuts ul li a:focus {
	background-color: yellow;
	border-color: #000000;
}

#auth {
	float: right;
}
#auth div {
	float: right;
}
#logout, #register, #profile {
	padding: 0.5em;
}
input#username, input#password {
	width: 7em;
}
#contwrap {
	background-color: #F0F0F0;
}
#sidebar {
	width: 15em;
	float: left;
	position: relative;
	top: 0;
	left: 0;
}
#content {
	padding: 2em;
	min-height: 50em;
	margin-left: 15em;
}
#footer {
	background-color: #F0F0F0;
	text-align: center;
	border-radius: 0 0 3em 3em;
	padding: 2em;
}

#navbar {
	position: fixed;
	top: 0;
	left: 0;
	color: #F0F0F0;
	background-color: #000000;
	width: 100%;
	height: 4em;
	padding: 0;
	margin: 0;
}
#navbar ul li {
	list-style-type: none;
	float: left;
	height: 4em;
	text-align: center;
	margin-left: 0.5em;
	margin-right: 0.5em;
}
#navbar div{
	padding-left: 1em;
	padding-right: 1em;
}
#navbar a, .labellink {
	text-decoration: none;
}
#navbar a, #navbar a:link, #navbar a:visited , .labellink {
	color: #F0F0F0;
}
#navbar a:hover, #navbar a:focus, .labellink:hover, .labellink:focus {
	color: #0F0F0F;
	background: #F0F0F0;
}

#login, #search, #register, #logout, #profile {
	float: right;
}
#login  form {
	display: inline;
}

#footer {
	margin-top: 4em;
}

*/