{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Reset password" %}{% endblock %}

{% block content %}
<p>
    {% blocktrans %}
    Forgot your password?  Enter your email in the form below and we'll send you instructions for creating a new one.
    {% endblocktrans %}
</p>
<form method="post" action="">
    {% include "webpage/generic_form_fields.html" %}
    <button class="btn btn-lg btn-primary btn-block" type="submit">{% trans 'Reset password' %}</button>
</form>
{% endblock %}


{# This is used by django.contrib.auth #}