{% extends "base.html" %}
{% load bootstrap %}
{% load i18n %}

{% block title %}Enroll Now!{% endblock %}
{% block site_title %}Register{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12">
			<form action="" method="POST">
				{% csrf_token %}
				{#{{ form.email|bootstrap_email:"@uni-jena.de" }}#}
				{{ form.email|bootstrap }}
				{{ form.password1|bootstrap }}
				{{ form.password2|bootstrap }}
				{{ form.captcha|bootstrap }}
				<button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
			</form>
		</div>
	</div>
{% endblock %}
