{% extends "base.html" %}

{% block site_title %}Profiles - {{ object.get_username }}{% endblock %}
{% block title %}
	{% if object.is_active %}
		{% if object.userprofile.show_realname or user.is_superuser %}
			{% if object.get_full_name != '' %}
				{{ object.get_full_name }}
			{% else %}
				{{ object.username }}
			{% endif %}
		{% else %}
			{{ object.username }}
		{% endif %}
	{% else %}
		User has been deleted!
	{% endif %}
{% endblock %}

{% block content %}

	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		{% include 'users/detail_labels.html' %}
		<div class="row"><br/></div>
		<div class="row">
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-8 col-xs-offset-2">
				<span class="thumbnail"><img src="{{ object.userprofile.get_image_url }}" alt="{{ object.get_username }}" height="150"/></span>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
				<dl class="dl-horizontal">
					{% if object.is_active or user.is_superuser %}
						{% if object.userprofile.show_realname or user.is_superuser %}
							<dt>Name:</dt>
							<dd>{{ object.userprofile.title }} {{ object.get_full_name }}</dd>
						{% endif %}
					{% endif %}
					<dt><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Username:</dt>
					<dd>{{ object.get_username }}</dd>
				</dl>
				{% if object.is_active or user.is_superuser %}
					<dl class="dl-horizontal">
						{% if object.userprofile.phone != '' %}
							<dt><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> Phone:</dt>
							<dd>{{ object.userprofile.phone }}</dd>
						{% endif %}
						{% if object.userprofile.show_email or user.is_superuser %}
							<dt><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> Mail:</dt>
							<dd>{{ object.email }}</dd>
						{% endif %}
						{% if object.userprofile.website != '' %}
							<dt><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> Website:</dt>
							<dd>{{ object.userprofile.website }}</dd>
						{% endif %}
					</dl>
					<dl class="dl-horizontal">
						{% if object.userprofile.show_birthday or user.is_superuser%}
							<dt><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> Birthday:</dt>
							<dd>
								{% if object.userprofile.show_age or user.is_superuser%}
									{{ object.userprofile.birth_date|date:"d. F Y" }}
								{% else %}
									{{ object.userprofile.birth_date|date:"d. F" }}
								{% endif %}
							</dd>
							{# has birthday today? #}
						{% endif %}
						{% if object.userprofile.show_age or user.is_superuser%}
							<dt>Age:</dt>
							<dd>{{ object.userprofile.get_age }}</dd>
						{% endif %}
					</dl>
					<dl class="dl-horizontal">
						<dt><span class="glyphicon glyphicon-comment" aria-hidden="true"></span> Comments:</dt>
						<dd>{{ comment_list.count }}</dd>
						<dt><span class="glyphicon glyphicon-time" aria-hidden="true"></span> Member since:</dt>
						<dd>{{ object.date_joined|date:"d. F Y" }}</dd>
						<dt><span class="glyphicon glyphicon-signal" aria-hidden="true"></span> Last login:</dt>
						<dd>{{ object.last_login }}{% if user.is_superuser %} @ {{ object.userprofile.last_ip }} {% endif %}</dd>
					</dl>
					{% if user.is_superuser %}
						<dl class="dl-horizontal">
							<dt><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Groups:</dt>
							<dd>{{ object.groups.name }}</dd>
						</dl>
					{% endif %}
				{% endif %}
			</div>
		</div>
		{% if object.is_active or user.is_superuser %}
			{% if object.userprofile.about_me != '' %}
				<div class="row">
					<h2>About Me:</h2>
					<div class="col-lg-12">
						<p>{{ object.userprofile.about_me }}</p>
					</div>
				</div>
			{% endif %}
		{% endif %}
		<div class="panel panel-default">
			<div class="panel-heading" role="tab" id="headingZero">
				<h2 class="panel-title">
					<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseZero" aria-expanded="true" aria-controls="collapseZero">
					Uploads
					</a>
				</h2>
			</div>
			<div id="collapseZero" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingZero">
				<div class="panel-body">
					{% include 'metas/upload_detail.html' %}
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading" role="tab" id="headingBla">
				<h2 class="panel-title">
					<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseBla" aria-expanded="true" aria-controls="collapseBla">
					Comments
					</a>
				</h2>
			</div>
			<div id="collapseBla" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingBla">
				<div class="panel-body">
					{% for comment in comment_list %}
						{% include 'metas/discussion_comment.html' %}
					{% endfor %}
				</div>
			</div>
		</div>
	</div>

{% endblock %}