{% extends "base.html" %}

{% block title %}Delete &quot;{{ meta.name }}&quot;?{% endblock %}
{% block site_title %}Delete - {{ meta.name }}{% endblock %}
{% block sidebar %}{% endblock %}
{% block content %}
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<form action="{% url 'series:meta_delete' meta.id %}" method="POST">
			<p>The series, all its upload, as well as all its comments will be deleted, a recovery is not possible.</p>
			<p>Are you sure you want to delete &quot;{{ meta.name }}&quot;?</p>
			{% include 'webpage/generic_form_fields.html' %}
			<button class="btn btn-danger" type="submit" value="delete">
				<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
				Delete
			</button>
			<a href="{% url 'series:meta_detail' meta.id %}" class="btn btn-default" type="submit">
				<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
				Cancel
			</a>
		</form>
	</div>
{% endblock %}