<div class="row">
	<div class="col-lg-2 col-md-2 col-sm-2 hidden-xs">
		<div class="row">
			<div class="col-lg-10 col-lg-offset-2 col-md-10 col-md-offset-2 col-sm-10 col-sm-offset-2">
				<a href="{% url 'series:user_detail' comment.user.get_username %}"><span class="thumbnail"><img src="{{ comment.user.userprofile.get_image_url }}" alt="{{ comments.user.get_username }}" height="150"/></span></a>
			</div>
		</div>
	</div>
	<div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<strong>
				<ol class="commentcrumb">
				<li><a href="{% url 'series:meta_detail' comment.object_pk %}">{{ comment.content_object }}</a></li>
				<li><a href="{% url 'series:user_detail' comment.user.get_username %}">{{ comment.user.get_username }}</a></li>
				</ol>
				</strong>
				<strong class="pull-right">{{ comment.submit_date }}</strong>
			</div>
			<div class="panel-body">
				<p>{{ comment.comment }}</p>
			</div>
		</div>
	</div>
</div>