{% extends "base.html" %}
{% load bootstrap %}

{% block alert %}
	{% if form.errors %}
	<div class="alert alert-danger" role="alert">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
		<p>Error while submitting the form. Please check your input, and try again.</p>
	</div>
	{% endif %}
{% endblock %}

{% block javascript %}
	{{ block.super }}
	{% include "search/autocomplete_function.html" with autourl='series:autocomplete' autocategory='people'    autoid='#id_author' %}
	{% include "search/autocomplete_function.html" with autourl='series:autocomplete' autocategory='lecture'   autoid='#id_lecture' %}
	{% include "search/autocomplete_function.html" with autourl='series:autocomplete' autocategory='people'    autoid='#id_lecturer' %}
	{% include "search/autocomplete_function.html" with autourl='series:autocomplete' autocategory='keywords'  autoid='#id_keywords' %}
	{% include "search/autocomplete_function.html" with autourl='series:autocomplete' autocategory='area'      autoid='#id_area' %}
	{% include "search/autocomplete_function.html" with autourl='series:autocomplete' autocategory='programme' autoid='#id_programme' %}
	{% include "search/autocomplete_function.html" with autourl='series:autocomplete' autocategory='metaname'  autoid='#id_name' %}
{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<form action="{% block editformurl %}{% endblock %}" method="POST" enctype="multipart/form-data">
				{% csrf_token %}
				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="headingName">
						<h2 class="panel-title">
							<a class="accordion-toggle" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseName" aria-expanded="true" aria-controls="collapseName">
							Name
							</a>
						</h2>
					</div>
					<div id="collapseName" class="panel-collapse collapse in" role="tab" aria-labelledby="headingName">
						<div class="panel-body">
							{{ form.name|bootstrap }}
						</div>
					</div>
				</div>
				{% block fileinfo %}
					{% include 'uploads/create_form.html' %}
				{% endblock %}
				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="headingDescription">
						<h2 class="panel-title">
							<a class="accordion-toggle" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseDescription" aria-expanded="true" aria-controls="collapseDescription">
							Description
							</a>
						</h2>
					</div>
					<div id="collapseDescription" class="panel-collapse collapse in" role="tab" aria-labelledby="headingDescription">
						<div class="panel-body">
							<div class="row">
								<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
									{{ form.description|bootstrap }}
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="headingKeywords">
						<h2 class="panel-title">
							<a class="accordion-toggle" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseKeywords" aria-expanded="true" aria-controls="collapseKeywords">
							Keywords
							</a>
						</h2>
					</div>
					<div id="collapseKeywords" class="panel-collapse collapse in" role="tab" aria-labelledby="headingKeywords">
						<div class="panel-body">
							<div class="row">
								<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
									{{ form.keywords|bootstrap }}
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="headingLectureInfo">
						<h2 class="panel-title">
							<a class="accordion-toggle" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseLectureInfo" aria-expanded="true" aria-controls="collapseLectureInfo">
							Lecture Information
							</a>
						</h2>
					</div>
					<div id="collapseLectureInfo" class="panel-collapse collapse in" role="tab" aria-labelledby="headingLectureInfo">
						<div class="panel-body">
							<div class="row">
								<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
									{{ form.lecture|bootstrap }}
								</div>
								<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
									{{ form.lecturer|bootstrap }}
								</div>
							</div>
							<div class="row">
								<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
									{{ form.year|bootstrap }}
								</div>
								<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
									{{ form.area|bootstrap }}
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="headingProgrammeInfo">
						<h2 class="panel-title">
							<a class="accordion-toggle" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseProgrammeInfo" aria-expanded="true" aria-controls="collapseProgrammeInfo">
							Programme Information
							</a>
						</h2>
					</div>
					<div id="collapseProgrammeInfo" class="panel-collapse collapse in" role="tab" aria-labelledby="headingProgrammeInfo">
						<div class="panel-body">
							<div class="row">
								<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
									{{ form.programme|bootstrap }}
								</div>
								<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
									{{ form.semester|bootstrap }}
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
						{{ form.captcha|bootstrap }}
					</div>
				</div>
				{% block editbutton %}
				<div class="hidden-lg hidden-md hidden-sm">
					<div class="row">
						<div class="col-xs-12">
							<button type="submit" class="btn btn-primary btn-block">
								<span class="glyphicon glyphicon-open" aria-hidden="true"></span>
								{{ editbuttonname }}
							</button>
						</div>
					</div>
				</div>
				<div class="hidden-xs">
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12">
							<button type="submit" class="btn btn-primary">
								<span class="glyphicon glyphicon-open" aria-hidden="true"></span>
								{{ editbuttonname }}
							</button>
						</div>
					</div>
				</div>
				{% endblock %}
			</form>
		</div>
	</div>
{% endblock %}