<table class="table">
	<thead>
		<tr>
			<th>File</th>
			<th>Author</th>
			<th>Date</th>
			<th>Uploader</th>
			<th>Type</th>
			<th>Download</th>
		</tr>
	</thead>
	<tbody>
		{% for upload in upload_list %}
		<tr>
			<td><a href="{% url 'series:upload_detail' upload.pk %}">{{ upload }}</a></td>
			<td>{{ upload.author }}</td>
			<td>{{ upload.date|date:"SHORT_DATETIME_FORMAT" }}</td>
			<td><a href="{% url 'series:user_detail' upload.uploader %}">{{ upload.uploader }}</a></td>
			<td>{{ upload.get_filetype }}</td>
			<td>
				<a class="btn btn-success btn-xs {% if not user.is_authenticated and upload.login_only %}disabled{% endif %}" role="button" href="{% url 'series:upload_file' upload.id %}">
					<span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
					Download
				</a>
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>