<table class="table">
	<thead>
		<tr>
			<th class="hidden-lg hidden-md">File</th>
			<th class="hidden-xs hidden-sm">File</th>
			<th>Author</th>
			<th>Date</th>
			<th class="hidden-xs hidden-sm">Uploader</th>
			<th>Download</th>
		</tr>
	</thead>
	<tbody>
		{% for upload in upload_list %}
		<tr>
			<td class="hidden-lg hidden-md"><a href="{% url 'series:upload_detail' upload.pk %}">{{ upload|truncatechars:50 }}</a></td>
			<td class="hidden-xs hidden-sm"><a href="{% url 'series:upload_detail' upload.pk %}">{{ upload }}</a></td>
			<td>{{ upload.author }}</td>
			<td>{{ upload.date|date:"d. M Y" }}</td>
			<td class="hidden-xs hidden-sm"><a href="{% url 'series:user_detail' upload.uploader %}">{{ upload.uploader }}</a></td>
			<td>
				<a class="btn btn-success btn-xs {% if not user.is_authenticated and upload.login_only %}disabled{% endif %}" role="button" href="{% url 'series:upload_file' upload.id %}">
					<span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
					Download
				</a>
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>