{% extends "base.html" %}

{% block title %}Find something!{% endblock %}
{% block site_title %}Search{% endblock %}

{% block content %}
	<form method="get" action="{% url 'haystack_search' %}#results" class="autocomplete-me">
		<div class="panel panel-default">
			<div class="panel-body">
				<div class="row">
					<div class="col-lg-12">
						{% include 'webpage/generic_form_fields.html' %}
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12">
						<button type="submit" class="center-block btn btn-primary" value="search">
							<span class="glyphicon glyphicon-search" aria-hidden="true"></span> Search
						</button>
					</div>
				</div>
			</div>
		</div>
		{% if query %}
			<div class="row">
				<div class="col-lg-12">
					<h2 id="results">Results</h2>
					{% for result in page.object_list %}
						{% if result.content_type == 'series.upload' %}
							{% include 'search/results/upload.html' with object=result.object %}
						{% elif result.content_type == 'series.meta'%}
							{% include 'search/results/meta.html' with object=result.object %}
						{% elif result.content_type == 'django_comments.comment'%}
							{% include 'search/results/comment.html' with comment=result.object %}
						{% elif result.content_type == 'auth.user'%}
							{% include 'search/results/user.html' with object=result.object %}
						{% else %}
							<p>Error! Contenttype: {{ result.content_type }} not implemented!</p>
						{% endif %}
					{% empty %}
						<p>Nothing found.</p>
					{% endfor %}
				</div>
			</div>
			{% if page.has_previous or page.has_next %}
				<nav>
					<ul class="pagination">
						{% if page.has_previous %}
							<li>
								<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}" aria-label="Previous">
									<span aria-hidden="true">&laquo;</span>
								</a>
							</li>
						{% endif %}
						<li><a href="#">{{ page.number }} of {{ page.paginator.num_pages }}.</a></li>
						{% if page.has_next %}
							<li>
								<a href="?q={{ query }}&amp;page={{ page.next_page_number }}" aria-label="Next">
									<span aria-hidden="true">&raquo;</span>
								</a>
							</li>
						{% endif %}
					</ul>
				</nav>
			{% endif %}
		{% endif %}
	</form>
{% endblock %}
