{% extends "base.html" %}

{% block title %}Delete <em>{{ upload }}</em>?{% endblock %}
{% block site_title %}Delete - {{ upload }}{% endblock %}

{% block alert %}
	{% if form.errors %}
	<div class="alert alert-danger" role="alert">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
		<p>Error while submitting the form. Please check your input, and try again.</p>
	</div>
	{% endif %}
{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<form action="{% url 'series:upload_delete' upload.id %}" method="POST">
				<p>The file will be deleted, a recovery is not possible.</p>
				<p>If this is the last file of a series, the whole entry (with all its comments) will be deleted too.</p>
				<p>Are you sure you want to delete <strong>{{ upload }}</strong>?</p>
				{% include 'webpage/generic_form_fields.html' %}
				<div class="row"><br/></div>
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="hidden-lg hidden-md hidden-sm">
							<button class="btn btn-danger btn-block" type="submit" value="delete">
								<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
								Delete
							</button>
							<a href="{% url 'series:upload_detail' upload.id %}" class="btn btn-default btn-block" type="submit">
								<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
								Cancel
							</a>
						</div>
						<div class="hidden-xs">
							<button class="btn btn-danger" type="submit" value="delete">
								<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
								Delete
							</button>
							<a href="{% url 'series:upload_detail' upload.id %}" class="btn btn-default" type="submit">
								<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
								Cancel
							</a>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
{% endblock %}