<div class="row">
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<div class="h4">
			{% if not object.user.is_active %}
				<span class="label label-danger label-spaced"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Deleted</span>
			{% endif %}
			{% if object.user.is_active %}
				{% if object.user.is_superuser %}
					<a href="{% url 'series:search' %}?q=Admin"><span class="label label-warning label-spaced"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Admin</span></a>
				{% endif %}
				{% if object.degree %}
					<a href="{% url 'series:search' %}?q={{ object.degree|urlencode }}"><span class="label label-primary label-spaced"><span class="glyphicon glyphicon-education" aria-hidden="true"></span> {{ object.degree }}</span></a>
				{% endif %}
			{% endif %}
		</div>
	</div>
</div>